#adminSidebar {
  min-height: 86vh;
  max-width: 350px;
  background: #ffffff;
  float: left;
}

.adminNavbar-link a.active {
  background: #000;
}

.adminNavbar-link {
  background-color: #f5f5f5e7;
}

.adminNavbar-link.active {
  color: #ffffff !important;
  background: #244c63ad;
}

.dropdown-menu {
  background: #f3f7f8ad;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu ul li {
  width: 260px;
}
.dropdown-menu ul li a {
  background: aliceblue;
  border: thin solid #c5dfe77a;
  padding: 5px 20px;
  height: 50px;
  line-height: 40px;
}

.adminSidebar-links:hover .dropdown-menu {
  display: block;
}







/* Admin Responsive Sidebar  */

#adminResponsiveSidebar {
  background: #ffffff;
  float: left;
  position: absolute;
  top: 123px;
  /* left: -350px; */
  height: 100vh;
  width: 350px;
}


/* Modal Content */

.modal {
  position: fixed;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
} 
